@font-face {
    font-family: 'Sporting Grotesque_Regular';
    src:    url('https://github.com/ajitation/Sporting_Grotesque/raw/master/Regular/Sporting_Grotesque-Regular_web.eot');
    src:    url('https://github.com/ajitation/Sporting_Grotesque/raw/master/Regular/Sporting_Grotesque-Regular_web.eot?#iefix') format('embedded-opentype'),
            url('https://github.com/ajitation/Sporting_Grotesque/raw/master/Regular/Sporting_Grotesque-Regular_web.woff') format('woff'),
            url('https://github.com/ajitation/Sporting_Grotesque/raw/master/Regular/Sporting_Grotesque-Regular_web.woff2') format('woff2'),
            url('https://github.com/ajitation/Sporting_Grotesque/raw/master/Regular/Sporting_Grotesque-Regular_web.ttf') format('truetype'),
            url('https://raw.githubusercontent.com/ajitation/Sporting_Grotesque/master/Regular/Sporting_Grotesque-Regular_web.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Sporting Grotesque_Bold';
    src:    url('https://github.com/ajitation/Sporting_Grotesque/raw/master/Bold/Sporting_Grotesque-Bold_web.eot');
    src:    url('https://github.com/ajitation/Sporting_Grotesque/raw/master/Bold/Sporting_Grotesque-Bold_web.eot?#iefix') format('embedded-opentype'),
            url('https://github.com/ajitation/Sporting_Grotesque/raw/master/Bold/Sporting_Grotesque-Bold_web.woff') format('woff'),
            url('https://github.com/ajitation/Sporting_Grotesque/raw/master/Bold/Sporting_Grotesque-Bold_web.woff2') format('woff2'),
            url('https://github.com/ajitation/Sporting_Grotesque/raw/master/Bold/Sporting_Grotesque-Bold_web.ttf') format('truetype'),
            url('https://raw.githubusercontent.com/ajitation/Sporting_Grotesque/master/Bold/Sporting_Grotesque-Bold_web.svg#svgFontName') format('svg');
    font-weight: normal;
    font-style: normal;
}
